body {
    background-color: aqua;
    font-family: sacramento;
}

#app {
    background-color: bisque;
    width: 600px;
    height: 900px;
    margin: 100px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0px auto;
}

button {
    background-color: transparent;
    width: 150px;
    height: 40px;
}

.male {
    border: 5px solid green ;
    background-color: green;
}

.female {
    border: 5px solid hotpink;
    background-color: hotpink;
}